html, body{
    padding: 0 ;
    margin: 0 ;
    overflow-x: hidden;
    background-color: #01040D;
}

.header{
    width: 100%;
    background: #f1c40f;
    height: 60px;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header_1{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 340px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    flex-direction: row;
}

.header_ico{
    width: 100px;
    display: flex;
    height: 100%;
    float: left;
    background: url('img/Logo/compact-disc%20(4).png') center center no-repeat;
    background-size: 40px 40px;
}

.header_logo{
    position: relative;
    left: -5%;
    top: 8%;
    float: right;
    color: #2c3e50;
    font-size: 40px;
    font-family: 'Noto Serif', serif;
}

.hr_header{
    margin: 0;
    border: none;
    height: 2px;
    color: #2c3e50;
    background-color: #2c3e50;
    
}

.main{
    position: absolute;
    width: 100%;
    height: 87.5vh;
}

.img_box{
    position: absolute;
    bottom: 0;
    height: 70vh;
    width: 100%;
}

.img{
    position: absolute;
    height: 100%;
    width: 100vh;
    left: 50%;
    transform: translate(-50%,0%);
    padding-top: 62px;
    background-image: url(img/welcome/4a4c0bae8e30ec67b1cc4499b19094fb_2_3_photo.jpg);
    background-size: 100% AUTO;
    background-position: bottom;
    background-repeat: no-repeat;
}


.btn_main{
    width: 100%;
    height: 40px;
    text-align: center;
    position: fixed;
    top: 20%;
    z-index: 1;
}

li{
    outline: none;
    text-decoration: none;
    list-style: none;
}

.btn{
    height: 50px;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    justify-content: center;
    border: 4px solid ;
    border-radius: 50px;
    background-color:#01040D;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}
.text{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 35px;
    font-family: 'DM Serif Text', serif;
}