html, body{
    padding: 0 ;
    margin: 0 ;
    color: white;
    overflow: hidden;
}

.header{
    width: 100%;
    background: #f1c40f;
    height: 60px;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header_1{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 340px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    flex-direction: row;
}

.header_ico{
    width: 100px;
    display: flex;
    height: 100%;
    float: left;
    background: url('../img/Logo/compact-disc%20(4).png') center center no-repeat;
    background-size: 40px 40px;
}

.header_logo{
    position: relative;
    left: -5%;
    top: 8%;
    float: right;
    color: #2c3e50;
    font-size: 40px;
    font-family: 'Noto Serif', serif;
}

.hr_header{
    margin: 0;
    border: none;
    height: 2px;
    color: #2c3e50;
    background-color: #2c3e50;
    
}

.footer{
    width: 100%;
    background: #f1c40f;
    height: 40px;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.line_1{
    border: 0px solid #2c3e50;
    height:30px;
    width: 2px;
    top: 7px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 25%;
    background-color: #2c3e50;
    border-radius: 50%;
}
.line_2{
    border: 0px solid #2c3e50;
    height:30px;
    width: 2px;
    top: 7px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 49%;
    background-color: #2c3e50;
    border-radius: 50%;
}
.line_3{
    border: 0px solid #2c3e50;
    height:30px;
    width: 2px;
    top: 7px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 74%;
    background-color: #2c3e50;
    border-radius: 50%;
}
.footer_ico_1{
    position: absolute;
    height: 100%;
    width: 24%;
    top: 50%;
    left: 0%;
    transform: translate(0%, -45%);
    background: url('../img/Menu/house-black-silhouette-without-door%20(1).png') center center no-repeat;
    background-size: 25px 25px;
}
.footer_ico_2{
    position: absolute;
    height: 100%;
    width: 24%;
    top: 50%;
    left: 25%;
    transform: translate(0%, -45%);
    background: url('../img/Menu/favorite-heart-button.png') center center no-repeat;
    background-size: 25px 25px;
}
.footer_ico_3{
    position: absolute;
    height: 100%;
    width: 24%;
    top: 50%;
    left: 50%;
    transform: translate(0%, -45%);
    background: url('../img/Menu/musica-searcher.png') center center no-repeat;
    background-size: 25px 25px;
}
.footer_ico_4{
    position: absolute;
    height: 100%;
    width: 24%;
    top: 50%;
    left: 75%;
    transform: translate(0%, -45%);
    background: url('../img/Menu-active/round-account-button-with-user-inside%20(1).png') center center no-repeat;
    background-size: 25px 25px;
}
li{
    outline: none;
    text-decoration: none;
    list-style: none;
}

/*Play_bar*/
.hr_play_bar{
    margin: 0;
    padding: 0;
    transform: translate(0px, -48px);
    border: none;
    height: 2px;
    color: #2c3e50;
    background-color: #CECECE; 
    justify-content: center;
    text-align: center;
}
.play_bar{
    transform: translate(0%, -46.5px);
    width: 100%;
    height: 45px;
    background-color: #f1f2f6 ;
    position: fixed;
    display: block;
    transition: 0.5s;
}
.play_bar_active{
    transition: 0.5s;
    display: block;
}
.main_play-bar_active{
    transition: 0.5s;
    padding-bottom: 80px;
}
.play_bar_container{
    height: 100%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
}
.button_left{
    height: 100%;
    width: 45px;
    background: url('../img/Navigation/play-and-pause-button.png') center center no-repeat;
    background-size: 25px 25px;
    transform: rotate(180deg);
}
.button_pause{
    height: 100%;
    width: 45px;
    background: url('../img/Navigation/pause-button%20(2).png') center center no-repeat;
    background-size: 26px 26px;
}
.button_right{
    height: 100%;
    width: 45px;
    background: url('../img/Navigation/play-and-pause-button.png') center center no-repeat;
    background-size: 25px 25px;
}
.button_random{
    height: 100%;
    width: 45px;
    background-color: blue;
    background: url('../img/Navigation/couple-of-arrows-changing-places.png') center center no-repeat;
    background-size: 25px 25px;
}
.button_repeat{
    height: 100%;
    width: 45px;
    background-color: green;
    background: url('../img/Navigation/repeat.png') center center no-repeat;
    background-size: 25px 25px;
}
.song_info{
    height: 100%;
    background-color:;
    flex-grow: 1;
}
.button_playlist{
    height: 100%;
    width: 45px;
    background: url('../img/Navigation/song-playlist.png') center center no-repeat;
    background-size: 25px 25px;
}
.button_like{
    position: relative;
    height: 100%;
    width: 45px;
}
.button_like_off{
    position: fixed;
    height: 100%;
    width: 45px;
    background: url('../img/Menu/heart.png') center center no-repeat;
    background-size: 25px 25px;
    z-index: 1;
}
.button_like_on{
    position: fixed;
    display: none;
    height: 100%;
    width: 45px;
    background: url('../img/Menu/heart%20(1).png') center center no-repeat;
    background-size: 25px 25px;
    z-index: 2;
}
.button_volume{
    height: 100%;
    width: 45px;
    background: url('../img/Navigation/volume-up-indicator.png') center center no-repeat;
    background-size: 25px 25px;
}
.progress_line{
    width: 100%;
    height: 2px;
    background-color: #2c3e50;
}
.progress_line_up{
    width: 30%;
    transform: translate(0, -2px);
    height: 2px;
    background-color: #f1c40f;
}

/* SONG INFO*/
.song_info{
    display: flex;
    flex-direction:column;
    color: #2c3e50;
    transform: translate(6px,2px);
    margin-left: 10px;
}
.song_name{
    float: left;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    
}
.song_artist{
    display: flex;
    float: left;
}

/* CONTENT*/
.main{
    transition: 0.5s;
    position: relative;
    width: 100%;
    height: auto;   
    padding-top: 62px;
    padding-bottom: 33px;
}
.sing-in_page{
    width: 100%;
    height: auto;
}
.content_sing-in_page{
    height: 85vh;
}
.main_box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    height: auto;
    min-height: 100px;
    width:75%;
    background-color: ;
    margin: 0;
    padding: 0;
    z-index: 40;
}

/* CHOOSE MOVIE BOX*/
.choose_box{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 20px;
}
.btn_sing-in{
    height: 100%;
    width: 50%;
}
.btn_reg{
    height: 100%;
    width: 50%;
}
.text_sing-in{
    position: relative;
    justify-content: center;
    text-align: center;
    top: 50%;
    transform: translate(0%,-50%);
    color: #2c3e50;
}
.text_reg{
    position: relative;
    justify-content: center;
    text-align: center;
    top: 50%;
    transform: translate(0%,-50%);
    color: #2c3e50;
}

/* CHOSE MOVIE UNDERLINE*/
.hr_active_form{
    position: absolute;
    margin: 0;
    width: 50%;
    height: 2px;
    border:0px;
    border-radius: 10px;
    color:#f1c40f;
    background-color: #f1c40f;
    transition: 0.5s;
    transform: translate(0%,50px);
}
.hr_active_form_reg_active{
    transition: 0.5s;
    transform: translate(100%,50px);
}

.boxes{

}

/* SING-IM BOX*/
.sing-in_box{
    transition: 0.5s;
    position: relative;
    top: 40px;
    width: 100%;
    height: auto;
    min-height: 100px;
    z-index: 21;
}
.sing-in_box_not_active{
    transition: 0.5s;
    opacity: 0;
    transform: translateX(-100%);
}
.sing-in_forms_box{
    padding : -30px 0 30px 0;
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color:;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
}
input[name="sing-in_email"], input[name="sing-in_password"]{
    width: 100%;
    height: 20px;
    font-size: 15px;
    margin-bottom: 25px;
    border:0;
    color: #2c3e50;
    padding-left: 3px;
}
input[name="sing-in"]{
    background-color: white;
    height: 45px;
    width: 200px;
    color: #2c3e50;
    border: 1px solid #f1c40f;
    border-radius: 40px;
    font-size: 20px;
}
input[name="sing-in"]:hover{
    background-color: #f1c40f;
    height: 45px;
    width: 200px;
    color: white;
    border: 1px solid #f1c40f;
    border-radius: 40px;
    font-size: 20px;
}
input[name="sing-in_email"]:focus,
input[name="sing-in_password"]:focus{
    transition: 0.5s;
    width: 100%;
    height: 20px;
    font-size: 15px;
    margin-bottom: 25px;
    outline:none;
}
.sing-in_email_underline,
.sing-in_password_underline{
    height: 2px;
    border: 0;
    background-color:  #ced6e0;
    position: relative;
    top: -33px;
    border:0px;
    border-radius: 10px;
    transition: 0.5s;
}

/* REG BOX*/
.reg_box{
    position: fixed;
    transition: 0.5s;
    position: relative;
    top: 52px;
    transform: translate(100%,-80%);
    background-color: ;
    width: 100%;
    height: auto;
    min-height: 100px;
    z-index: 20;
    opacity: 0;
}
.reg_box_active{
    transition: 0.5s;
    opacity: 1;
    transform: translate(0%, -80%);
}
.reg_forms_box{
    padding : -30px 0 30px 0;
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color:;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
}
input[name="reg_email"], input[name="reg_password_1"], input[name="reg_password_2"]{
    width: 100%;
    height: 20px;
    font-size: 15px;
    margin-bottom: 25px;
    border:0;
    color: #2c3e50;
    padding-left: 3px;
}
input[name="reg"]{
    background-color: white;
    height: 45px;
    width: 200px;
    color: #2c3e50;
    border: 1px solid #f1c40f;
    border-radius: 40px;
    font-size: 20px;
}
input[name="reg"]:hover{
    background-color: #f1c40f;
    height: 45px;
    width: 200px;
    color: white;
    border: 1px solid #f1c40f;
    border-radius: 40px;
    font-size: 20px;
}
input[name="reg_email"]:focus,
input[name="reg_password_1"]:focus, input[name="reg_password_2"]{
    transition: 0.5s;
    width: 100%;
    height: 20px;
    font-size: 15px;
    margin-bottom: 25px;
    outline:none;
}
.reg_email_underline,
.reg_password_1_underline{
    height: 2px;
    border: 0;
    background-color:  #ced6e0;
    position: relative;
    top: -33px;
    border:0px;
    border-radius: 10px;
    transition: 0.5s;
}
.reg_password_2_underline{
    height: 2px;
    border: 0;
    background-color:  #ced6e0;
    position: relative;
    top: -33px;
    border:0px;
    border-radius: 10px;
    transition: 0.5s;
}



